.wrapper-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 400ms transform cubic-bezier(0.42, 0, 0.65, 1.7);
}

.wrapper-banner .main-banner{
    margin-bottom:10px;
}
.wrapper-banner:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 200ms transform ease-in-out cubic-bezier(0.42, 0, 0.65, 1.7);
}

.wrapper-banner .caption{
    width: 186px;
    text-align: center;
}